html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 40px;
}

.text-block {
  margin: 0;
}

.accommodation-card-title {
  margin: 0;
}

.section:not(:last-child) {
  margin-bottom: 40px;
}

/* header */

.header__top-block {
  align-items: ceneter;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__top-block--left,
.header__top-block--right {
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header__bottom-block {
  padding: 27px 45px;
  justify-content: space-between;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-button:not(:last-child) {
  margin-right: 40px;
}

/* offers */

.offers-card-title {
  margin: 0;
  margin-bottom: 15px;
}

.offers-price {
  margin-bottom: 47px;
}

.offers-left {
  flex-direction: column;
  justify-content: space-between;
  width: 573px;
  margin-right: 24px;
}

.offers-card-left {
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 40px 108px 40px 45px;
}

.offers-card-left:not(:last-child) {
  margin-bottom: 24px;
}

.offers-card-right {
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  padding: 40px 108px 40px 45px;
}

/* about */

.about-descr {
  width: 888px;
}

/* services */

.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 24px;
}

.services-card-title {
  margin: 0;
}

/* advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  padding: 40px 42px 32px 45px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 22px;
}

/* accommodation */

.accommodation-list {
  flex-wrap: wrap;
}

.accommodation-item {
  width: 374px;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodation-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 24px;
}

.accommodation-card-img {
  margin-bottom: 32px;
}

.accomodation-price-wrapper {
  padding: 0 45px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.accommodation-text-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 45px 45px;
}

.accommodation-last {
  align-items: flex-end;
  justify-content: center;
  padding: 0 45px 27px;
}
